@page
@model IndexModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to my C# website learning  </h3>
</div>
<h2>C#</h2>
<div>
    <p>C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework.</p>
    <p>C# is used to develop web apps, desktop apps, mobile apps, games and much more.</p>
    <p>It is an object-oriented programming language created by Microsoft that runs on the .NET Framework.</p>
    <p>C# has roots from the C family, and the language is close to other popular languages like C++ and Java</p>
    <p>The first version was released in year 2002. The latest version, C# 11, was released in November 2022.</p>
    <p>C# is used for:</p>
    <ul>
        <li>Mobile applications</li>
        <li>Desktop applications</li>
        <li>Web applications</li>
        <li>Web services</li>
        <li>Web sites</li>
    </ul>
    <p>This is o short information about C#.</p>
    <p class="text-dark">Please <a href='/Users/Login'>login</a> in your account for more information or  create a new account if you are a <a  href='/Users/Insert'>new user</a>.</p>
</div>
